absl-py==1.4.0
accelerate==0.27.2
addict==2.4.0
aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
alerts-in-ua==0.2.5
anyio==3.6.2
appdirs==1.4.4
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
Babel==2.9.1
basicsr==1.4.2
beautifulsoup4==4.11.2
branca==0.8.1
buttons==0.1.9
cachetools==5.3.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.0.7
cryptography==41.0.1
cssselect2==0.7.0
cycler==0.11.0
dalle3==0.1.0
datasets==2.17.1
decorator==4.4.2
deep-translator==1.11.4
defusedxml==0.7.1
detectlanguage==1.5.0
diffusers==0.26.3
dill==0.3.8
discord.py==2.2.2
docstring-parser==0.15
eval==0.0.5
executing==2.0.1
facexlib==0.3.0
Faker==23.3.0
filelock==3.11.0
filterpy==1.4.5
fire==0.5.0
Flask==2.2.3
flatbuffers==23.5.26
folium==0.19.4
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.10.0
future==0.18.3
futures==3.0.5
gast==0.5.4
geographiclib==2.0
geopy==2.4.1
gfpgan==1.3.8
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.11.0
google-auth==2.17.1
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-translate==3.11.1
google-generativeai==0.4.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
googletrans==3.0.0
goslate==1.5.4
grpcio==1.53.0
grpcio-status==1.53.0
guess-language==0.2
h11==0.14.0
h2==3.2.0
h5py==3.10.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.21.2
hyperframe==5.2.0
idna==2.10
image-generator==1.1.3
imageio==2.28.1
imageio-ffmpeg==0.4.8
imgkit==1.2.3
importlib-metadata==6.0.0
iniconfig==2.0.0
ipython==8.22.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.2.0
Js2Py==0.74
keras==2.15.0
kiwisolver==1.4.4
langdetect==1.0.9
lazy_loader==0.2
libclang==16.0.6
libretranslatepy==2.1.1
llvmlite==0.40.0
lmdb==1.4.1
lottie==0.7.0
lxml==4.9.2
magic-filter==1.0.9
Markdown==3.4.3
markdown-it-py==3.0.0
markovify==0.9.4
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
midjourney==0.0.1
ml-dtypes==0.2.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
mtranslate==1.8
multidict==6.0.4
multiprocess==0.70.16
my-module==1.6.2
networkx==3.1
nltk==3.8.1
numba==0.57.0
numpy==1.24.2
oauthlib==3.2.2
openai==0.26.5
opencv-python==4.7.0.72
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.0
pandas==2.1.4
parso==0.8.3
pdf2docx==0.5.6
peft==0.9.0
pexpect==4.9.0
phonenumbers==8.13.7
Pillow==9.4.0
pluggy==1.3.0
proglog==0.1.10
progress==1.6
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.22.1
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-translate==1.0.3
pyaes==1.6.1
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.7
pydub==0.25.1
pyee==8.2.2
pyga==2.6.2
pygame==2.4.0
PyGetWindow==0.0.9
Pygments==2.17.2
pyjsparser==2.7.1
pykeyboard==0.1.5
pylxd==2.3.1
PyMsgBox==1.0.9
PyMuPDF==1.22.5
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyperclip==1.8.2
pyppeteer==1.0.2
PyRect==0.2.0
Pyrogram==2.0.106
PyScreeze==0.1.28
PySocks==1.7.1
pyTelegramBotAPI==4.26.0
pytest==7.4.3
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.1
python-telegram-bot==12.8
pytweening==1.0.4
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywhatkit==5.4
PyYAML==6.0
pyzbar==0.1.9
ratelimit==2.2.1
realesrgan==0.3.0
regex==2023.3.23
replicate==0.8.1
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests-unixsocket==0.3.0
rfc3986==1.5.0
rich==13.7.1
rsa==4.9
rubicon-objc==0.4.5
safetensors==0.4.2
schedule==1.1.0
scikit-image==0.20.0
scipy==1.10.1
segno==1.5.2
selenium==4.16.0
shtab==1.7.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
stack-data==0.6.3
sympy==1.11.1
tb-nightly==2.14.0a20230505
telebot==0.0.4
telegraph==2.2.0
Telethon==1.33.1
tensorboard==2.15.2
tensorboard-data-server==0.7.0
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.15.0
termcolor==2.3.0
text-to-image==0.0.5
Text2image==2.2
textblob==0.17.1
TgCrypto==1.2.5
tgs==0.1.1
tifffile==2023.4.12
tinycss2==1.3.0
tokenizer==3.4.3
tokenizers==0.15.2
tomli==2.0.1
torch==2.0.0
torch-xla==1.0
torchvision==0.15.1
tornado==6.4
tqdm==4.64.1
traitlets==5.14.1
transformers==4.38.1
translate==3.6.1
trio==0.22.0
trio-websocket==0.9.2
trl==0.7.11
typing_extensions==4.5.0
tyro==0.7.3
tzdata==2023.3
tzlocal==4.3
undetected-chromedriver==3.5.4
Unidecode==1.3.8
urllib3==1.26.13
uvicorn==0.22.0
wcwidth==0.2.13
webdriver-manager==3.8.5
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.3
wikipedia==1.4.0
wrapt==1.14.1
ws4py==0.5.1
wsproto==1.2.0
xxhash==3.4.1
xyzservices==2025.1.0
yapf==0.33.0
yarl==1.8.2
zipp==3.15.0
